<!DOCTYPE html>
<html>
  <head>
    <title>Fabio Bianqueti</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Turma9B</h1>
    <p>Bem vindo a aula de CI & CD - Turma sensacional </p>
  </body>
</html>
